body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('background.jpg'); /* Add your background image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #000; /* Change the text color to black */
}

#content {
    text-align: center;
    margin-top: 0; /* Set margin-top to 0 to place the content at the top */
}

h1, p {
    margin: 10px 0;
    color: #000; /* Change the text color to black */
}

form {
    margin-top: 20px;
}

input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}
